<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SampleWebClient</display-name>
  <welcome-file-list>
    <welcome-file>Home</welcome-file>
    <welcome-file>/axis2-web/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DisplayServlet</display-name>
    <servlet-name>DisplayServlet</servlet-name>
    <servlet-class>com.controller.DisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayServlet</servlet-name>
    <url-pattern>/DisplayServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Admin Servlet Web Admin</display-name>
    <servlet-name>AxisAdminServlet</servlet-name>
    <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisAdminServlet</servlet-name>
    <url-pattern>/axis2-admin/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.controller.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/HomeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleService</display-name>
    <servlet-name>GoogleService</servlet-name>
    <servlet-class>com.controller.GoogleService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleService</servlet-name>
    <url-pattern>/GoogleService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalysisController</display-name>
    <servlet-name>AnalysisController</servlet-name>
    <servlet-class>com.controller.AnalysisController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalysisController</servlet-name>
    <url-pattern>/AnalysisController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomService</display-name>
    <servlet-name>CustomService</servlet-name>
    <servlet-class>com.controller.CustomService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomService</servlet-name>
    <url-pattern>/CustomService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestingSoap</display-name>
    <servlet-name>TestingSoap</servlet-name>
    <servlet-class>com.controller.TestingSoap</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestingSoap</servlet-name>
    <url-pattern>/TestingSoap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Index</display-name>
    <servlet-name>Index</servlet-name>
    <servlet-class>com.controller.Index</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectManagement</display-name>
    <servlet-name>ProjectManagement</servlet-name>
    <servlet-class>com.controller.ProjectManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectManagement</servlet-name>
    <url-pattern>/ProjectManagement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalysisWebService</display-name>
    <servlet-name>AnalysisWebService</servlet-name>
    <servlet-class>com.controller.AnalysisWebService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalysisWebService</servlet-name>
    <url-pattern>/AnalysisWebService</url-pattern>
  </servlet-mapping>
</web-app>